In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
#Extract Dangerous Buildings data
dangerous_file = "../Resource/Dangerous_Buildings_List.csv"
dangerous_df = pd.read_csv(dangerous_file)
dangerous_df.head(2)

,Case Number,Address,ZIP Code,Case Opened,Kiva PIN,Status of Case,Latitude,Longitude,Location
0,1226669,1104 Ewing Ave,64126,08/20/2019,5246,Pre-Bid Process Ongoing,39.098316,-94.503382,"1104 Ewing Ave\nKansas City, MO 64126\n(39.098..."
1,1180446,5412 E 17th St,64127,06/21/2017,9421,Pre-Bid Process Ongoing,39.090801,-94.518413,"5412 E 17th St\nKansas City, MO 64127\n(39.090..."

In [4]:
#Transform dangerous building DataFrame
limit_dangerous_df = dangerous_df[['Case Number','Case Opened','Status of Case', 'Latitude','Longitude','Location']].copy()
limit_dangerous_df = limit_dangerous_df.rename(columns={"Case Number":"case_number","Latitude":"latitude", "Longitude":"longitude","Location":"location","Case Opened":"opened","Status of Case":"case_status"})
# limit_dangerous_df.set_index("Location", inplace = True)
limit_dangerous_df.head(2)

,case_number,opened,case_status,latitude,longitude,location
0,1226669,08/20/2019,Pre-Bid Process Ongoing,39.098316,-94.503382,"1104 Ewing Ave\nKansas City, MO 64126\n(39.098..."
1,1180446,06/21/2017,Pre-Bid Process Ongoing,39.090801,-94.518413,"5412 E 17th St\nKansas City, MO 64127\n(39.090..."

In [5]:
#Extract $10M Buildings
ten_mil_file = "../Resource/_10M_Demolition_List.csv"
ten_mil_df = pd.read_csv(ten_mil_file)
ten_mil_df.head(2)

,Service Order Number,Date Opened,Structure Status,Address,City,State,Zip Code,Neighborhood,Latitude,Longitude,KivaPIN,Property Owner,Order to Demolish Or Repair Sent,Project Phase,Structure Type,Structure Rating,Mapped Location
0,1149487,12/03/2015,Monitoring Owner Compliance,1115 N Bellefontaine Ave,KANSAS CITY,MO,NaN,NaN,NaN,NaN,38588,Private,NaN,NaN,House,Repair/Receivership,"1115 N Bellefontaine Ave\n(39.128612, -94.544624)"
1,1116561,08/18/2014,Downgraded/No Longer a DB,12504 E 54TH TER,KANSAS CITY,MO,64133.0,Fairway Hills,39.022486,-94.430896,63094,Private,NaN,47/63 Strategic Area,House,Regular Demolition,12504 E 54TH TER\nKANSAS CITY 64133\n(39.02248...

In [6]:
#Transform $10M DataFrame
limit_ten_mil_df = ten_mil_df[['Service Order Number','Date Opened','Structure Status','Property Owner','Structure Type','Structure Rating','Latitude','Longitude','Mapped Location']].copy()
limit_ten_mil_df = limit_ten_mil_df.rename(columns={"Service Order Number":"service_order_number","Structure Status":"structure_status","Property Owner":"property_owner","Structure Type":"structure_type","Structure Rating":"structure_rating",'Date Opened':'opened','Mapped Location':'location', 'Latitude':'latitude', 'Longitude':'longitude'})
# limit_ten_mil_df.set_index('Location', inplace = True)
limit_ten_mil_df.head(2)

,service_order_number,opened,structure_status,property_owner,structure_type,structure_rating,latitude,longitude,location
0,1149487,12/03/2015,Monitoring Owner Compliance,Private,House,Repair/Receivership,NaN,NaN,"1115 N Bellefontaine Ave\n(39.128612, -94.544624)"
1,1116561,08/18/2014,Downgraded/No Longer a DB,Private,House,Regular Demolition,39.022486,-94.430896,12504 E 54TH TER\nKANSAS CITY 64133\n(39.02248...

### Create Database Connection

In [47]:
connection_string = "postgres:postgres@localhost:5432/project_test2"
engine = create_engine(f'postgresql://{connection_string}')

In [48]:
# Confirm tables
engine.table_names()

['build', 'demo']

### Load Dataframes into Database

In [49]:
# used replace instead of append. With replace we are creating the tables with given table names in the sql database. 
# Thats why when we confirm the tabeles second time it gives us the table names
limit_dangerous_df.to_sql(name='build', con=engine, if_exists='append', index=False)

In [50]:
limit_ten_mil_df.to_sql(name='demo', con=engine, if_exists='append', index=False)

In [51]:
# Confirm tables
engine.table_names()

['build', 'demo']

### Querying the tables

In [52]:
connection = engine.connect()

In [53]:
build_query = pd.read_sql ("SELECT * FROM build ",connection )

build_query.head(2)

,case_number,opened,case_status,location,latitude,longitude
0,1226669,2019-08-20,Pre-Bid Process Ongoing,"1104 Ewing Ave\nKansas City, MO 64126\n(39.098...",39.098316,-94.503382
1,1180446,2017-06-21,Pre-Bid Process Ongoing,"5412 E 17th St\nKansas City, MO 64127\n(39.090...",39.090801,-94.518413

In [54]:
demo_query  = pd.read_sql ("SELECT*FROM demo",connection )

demo_query.head(2)

,service_order_number,opened,structure_status,neighborhood,property_owner,structure_type,structure_rating,location,latitude,longitude
0,1149487,12/03/2015,Monitoring Owner Compliance,None,Private,House,Repair/Receivership,"1115 N Bellefontaine Ave\n(39.128612, -94.544624)",NaN,NaN
1,1116561,08/18/2014,Downgraded/No Longer a DB,None,Private,House,Regular Demolition,12504 E 54TH TER\nKANSAS CITY 64133\n(39.02248...,39.022486,-94.430896

In [58]:
# Join tables on location
building_query = pd.read_sql_query ("SELECT \"location\" from build", connection)
building_query

                                              location
0    1104 Ewing Ave\nKansas City, MO 64126\n(39.098...
1    5412 E 17th St\nKansas City, MO 64127\n(39.090...
2    526 BENTON BLVD\nKansas City, MO 64124\n(39.10...
3    3810 E 68th St\nKansas City, MO 64132\n(39.003...
4    2304 Kensington Ave\nKansas City, MO 64127\n(3...
..                                                 ...
629  4501 E 60th St\nKansas City, MO 64130\n(39.016...
630  611 Cypress Ave\nKansas City, MO 64124\n(39.10...
631  2604 Spruce Ave\nKansas City, MO 64127\n(39.07...
632  11719 Troost Ave\nKansas City, MO 64131\n(38.9...
633  2510 Brighton Ave\nKansas City, MO 64127\n(39....

[634 rows x 1 columns]

In [60]:
location = pd.read_sql_query ("SELECT \"location\" FROM demo", connection)
location

                                              location
0    1115 N Bellefontaine Ave\n(39.128612, -94.544624)
1    12504 E 54TH TER\nKANSAS CITY 64133\n(39.02248...
2    3008 CHERRY ST\nKANSAS CITY 64108\n(39.072134,...
3    2316 LAWNDALE AVE\nKANSAS CITY 64127\n(39.0822...
4    4015 PROSPECT AVE\nKANSAS CITY 64130\n(39.0529...
..                                                 ...
886  4037 PARK AVE\nKANSAS CITY 64130\n(39.052418, ...
887  212 ASKEW AVE\nKANSAS CITY 64123\n(39.111734, ...
888  4732 E 44TH ST\nKANSAS CITY 64130\n(39.045002,...
889  2511 E 21st St\nKANSAS CITY 64127\n(39.086599,...
890  2806 E 30th St\nKANSAS CITY 64128\n(39.071872,...

[891 rows x 1 columns]